.secretcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  /* Change background color */
  border: 4px solid #007bff !important; /* Add border */
  padding: 20vh;
}

.secretheader {
  text-align: center;
  margin-bottom: 20px;
}

.secretpost {
  margin-bottom: 20px;
}

.secretlist {
  text-align: center;
  border-bottom: solid;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

InputGroup {
  margin-bottom: 40px;
}

InputGroup.Text {
  background-color: #007bff; /* Primary color for the input group text */
}

Button {
  margin-top: 70px;
  background-color: #007bff !important;

  transition: background-color 0.3s, color 0.3s;
}
Button:hover {
  background-color: black !important; /* Change color on hover */
  color: #0056b3 !important;
}
